<div class="card">
  <div class="card-body">
    <div class="row">
      {{#if profile_image}}
        <div class="col-2">
          <img src="{{profile_image}}" class="rounded-circle" style="height: 64px;" alt="{{name}}">
        </div>
      {{/if}}
      <div class="col">
        <span class="lead">Weitere Beiträge von <a href="{{url}}">{{name}}</a></span>
        <p class="text-muted">{{bio}}</p>
      </div>
    </div>
  </div>
</div>
