<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
		<!-- Loop through the navigation items -->
    {{#foreach navigation}}
    	<li class="nav-item{{#if current}} active{{/if}}">
				<a class="nav-link" href="{{url absolute="true"}}">{{label}}</a>
			</li>
    {{/foreach}}
    <!-- End the loop -->
  </ul>
</div>
