<div class="card">
  {{#if featured}}
		<div class="card-header">
	    <span class="badge badge-primary text-uppercase font-weight-light">Top-Beitrag</span>
	  </div>
	{{/if}}
	{{#if feature_image}}
    <a href="{{url}}"><img class="card-img-top" src="{{feature_image}}" alt="{{title}}" /></a>
  {{/if}}
  <div class="card-body">
    <h4 class="card-title">{{title}}</h4>
    <p class="card-text">{{excerpt words="33"}}</p>
    <a href="{{url}}">Weiterlesen</a>
  </div>
  <div class="card-footer text-muted">
    {{#if author.profile_image}}
      <img class="img-fluid rounded-circle" style="height: 48px;" src="{{author.profile_image}}" alt="{{author.name}}" />
    {{/if}}
    <span class="lead">Weitere Beiträge von {{author}}</span>
  </div>
</div>
