{{!< default}}

{{#author}}
  <header>
    {{!-- Title and feature image --}}
    <div class="row mb-3 p-1">
    	<div class="col">
        <header class="text-center rounded" {{#if cover_image}}style="background-image: url({{cover_image}}); height: 400px; background-size: cover;{{/if}}">
          {{#if profile_image}}
            <img src="{{profile_image}}" class="rounded-circle mt-5" style="height: 64px;" alt="{{name}}">
          {{/if}}
          <h1 class="display-1">{{name}}</h1>
  			</header>
    	</div>
    </div>

    {{!-- Author stats --}}
		<div class="row mb-3 p-1">
		  <div class="col-10">
				<div class="card">
				  <div class="card-body">
						{{plural ../pagination.total empty='Keine Beiträge' singular='% Beitrag' plural='% Beiträge'}} von {{name}}&nbsp;
				  </div>
				</div>
			</div>
		  <div class="col">
				<div class="card">
				  <div class="card-body text-center">
						&nbsp;
						{{#if website}}
		          <a href="{{website}}" target="_blank" rel="noopener"><i class="ion-android-home"></i></a>
		        {{/if}}
		        {{#if twitter}}
		          <a href="{{twitter_url}}" target="_blank" rel="noopener"><i class="ion-social-twitter"></i></a>
		        {{/if}}
		        {{#if facebook}}
		          <a href="{{facebook_url}}" target="_blank" rel="noopener"><i class="ion-social-facebook"></i></a>
		        {{/if}}
				  </div>
				</div>
			</div>
		</div>

    {{!-- Authors bio if available --}}
		{{#if bio}}
			<div class="row mb-3 p-1">
			  <div class="col">
					<div class="card">
					  <div class="card-body">
							<section>
								{{bio}}
							</section>
					  </div>
					</div>
				</div>
			</div>
		{{/if}}
  </header>
{{/author}}

<hr/>

<main>
  <div class="row mb-3 p-1">
  	<div class="col">
  		<div class="card-columns">
        {{#foreach posts}}
            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}
        {{/foreach}}
  		</div>
  	</div>
  </div>
</main>
