<!doctype html>
<html lang="de">
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

		{{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

    {{!-- Cookie notification --}}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
      if(! window.HIDE_COOKIE_NOTIFICATION) {
        window.addEventListener("load", function(){
        window.cookieconsent.initialise({
          'palette': {
            'popup': {
              'background': '#237afc'
            },
            'button': {
              'background': '#fff',
              'text': '#237afc'
            }
          },
          'theme': 'edgeless',
          'content': {
            'message': 'Diese Seite verwendet Cookies um Ihnen den besten Inhalt bereitzustellen!',
            'dismiss': 'OK, einverstanden',
            'link': 'Mehr erfahren'
          }
        })});
      }
    </script>
</head>

<body>

	<header>
		<div class="container mb-5">
			<nav class="navbar navbar-expand-lg navbar-light bg-light rounded-bottom">
				<a class="navbar-brand" href="/">
					{{#if @blog.icon}}
						<img src="{{@blog.icon}}" alt="{{@blog.title}} icon" height="24" />
					{{else}}
						<span><i class="ion-home"></i></span>
					{{/if}}
					<span class="d-none d-sm-inline">{{@blog.title}}</span>
		  	</a>
				{{!-- Actual navigation configured by user, formated in partials/navigation.hbs --}}
				{{navigation}}
				<div class="pr-2 ml-auto">
				</div>
				<div class="pr-2">
					<i class="ion-forward"></i>
				</div>
				<a class="btn btn-light" href="https://twitter.com/share?text={{encode @blog.title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;">
					<i class="ion-social-twitter"></i>
				</a>
				<a class="btn btn-light" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
          <i class="ion-social-facebook"></i>
        </a>
        <button class="btn btn-light d-lg-none d-xl-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle menu">
					<i class="ion-navicon-round"></i>
				</button>
			</nav>
		</div>
	</header>

	<div class="container">
		{{{body}}}
	</div>

	<footer>
		<nav class="navbar navbar-expand navbar-dark bg-dark mt-5">
		  <div class="container">
				<a class="navbar-brand" href="{{@blog.url}}">{{@blog.title}} &copy; {{date format="YYYY"}}</a>
				<div>
					<ul class="navbar-nav">
            {{#if @labs.subscribers}}
              <li class="nav-item">
						    <button type="button" class="btn btn-link nav-link" data-toggle="modal" data-target="#subscribeModal" title="{{@blog.title}} abbonieren"><i class="ion-email text-light"></i></button>
              </li>
						{{/if}}
            {{#if @blog.facebook}}
  						<li class="nav-item">
  							<a class="nav-link" href="{{facebook_url @blog.facebook}}" target="_blank" rel="noopener"><i class="ion-social-facebook text-light"></i></a>
  						</li>
						{{/if}}
						{{#if @blog.twitter}}
						  <li class="nav-item">
							  <a class="nav-link" href="{{twitter_url @blog.twitter}}" target="_blank" rel="noopener"><i class="ion-social-twitter text-light"></i></a>
						  </li>
						{{/if}}
						<li class="nav-item">
							<a class="nav-link" href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
						</li>
					</ul>
				</div>

		  </div>
		</nav>
	</footer>

  <div class="modal fade" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="{{@blog.title}} abbonieren" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title display-5" id="exampleModalLabel">{{@blog.title}} abbonieren</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Neue Beiträge per E-Mail erhalten!</p>
          <form method="post" action="/subscribe/" id="subscribeForm">
            <div class="form-group">
              <input class="confirm" name="confirm" type="hidden">
              <input class="location" name="location" value="{{@blog.url}}" type="hidden">
              <input class="referrer" name="referrer" value="" type="hidden">
              <input type="email" name="email" class="form-control form-control-lg" id="inputEmail1" placeholder="mail@example.de" required>
              <small id="emailHelp" class="form-text text-muted">Ihre E-Mail-Adresse wird niemals weitergegeben!</small>
            </div>
            <button class="btn btn-primary" type="submit" onclick="console.log('1'); if($('#subscribeForm')[0].checkValidity()) { $('#subscribeModal').modal('hide'); console.log('2'); }">Abbonieren</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
  {{{block "scripts"}}}

  {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
  {{ghost_foot}}

</body>
</html>
