{{!< default}}

<article>
	{{!-- Title and feature image --}}
	<div class="row p-1">
		<div class="col">
			<header>
				<h1 class="display-1 text-center">Entschuldigung!</h1>
					<figure class="figure">
						<img class="figure-img img-fluid rounded" src="{{asset "img/sorry.jpg"}}" alt="Sorry!" />
					</figure>
			</header>
		</div>
	</div>

	{{!-- Content --}}
	<div class="row mb-3 p-1">
	  <div class="col">
			<div class="card">
			  <div class="card-body">
					<p>Dieser Beitrag konnte leider nicht gefunden werden...</p>
					<p><a href="/">Zurück zur Startseite</a></p>
			  </div>
			</div>
		</div>
	</div>
</article>

<hr/>

{{#get "posts" limit="2"}}
<div class="row mb-3 p-1">
	<div class="col">
		<div class="card-deck">
			{{#foreach posts}}
				{{> "post-card"}}
			{{/foreach}}
		</div>
	</div>
</div>
{{/get}}
