{{!< default}}

<main>
	{{!-- Title and blog cover image --}}
  <div class="row mb-3 p-1">
		<div class="col">
			<header class="text-center rounded" {{#if @blog.cover_image}}style="background-image: url({{@blog.cover_image}}); height: 400px; background-size: cover;{{/if}}">
        <h1 class="display-1 pt-5">
          {{#if @blog.logo}}
            <img style="height: 45px;" src="{{@blog.logo}}" alt="{{@blog.title}}" />
          {{else}}
            {{@blog.title}}
          {{/if}}
        </h1>
        <span class="text-muted">{{@blog.description}}</span>
			</header>
		</div>
	</div>

  <div class="row mb-3 p-1">
  	<div class="col">
  		<div class="card-columns">
        {{#foreach posts}}
            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "post-card"}}
        {{/foreach}}
  		</div>
  	</div>
  </div>
</main>
