{{!< default}}

{{#post}}

<article>
	{{!-- Title and feature image --}}
	<div class="row p-1">
		<div class="col">
			<header>
				<h1 class="display-1 text-center">{{title}}</h1>
				{{#if feature_image}}
					<figure class="figure">
						<img class="figure-img img-fluid rounded" src="{{feature_image}}" alt="{{title}}" />
					</figure>
				{{/if}}
			</header>
		</div>
	</div>

	{{!-- The posts content --}}
	<div class="row mb-3 p-1">
	  <div class="col">
			<div class="card">
			  <div class="card-body">
					<section>
						{{content}}
					</section>
			  </div>
			</div>
		</div>
	</div>
</article>

{{/post}}
