{{!< default}}

{{#post}}
<article>
	{{!-- Title and feature image --}}
	<div class="row p-1">
		<div class="col">
			<header>
				<h1 class="display-1 text-center">{{title}}</h1>
				{{#if feature_image}}
					<figure class="figure">
						<img class="figure-img img-fluid rounded" src="{{feature_image}}" alt="{{title}}" />
					</figure>
				{{/if}}
			</header>
		</div>
	</div>

	{{!-- Tags and date --}}
	<div class="row mb-3 p-1">
	  <div class="col-10">
			<div class="card">
			  <div class="card-body">
					{{> "tags"}}&nbsp;
			  </div>
			</div>
		</div>
	  <div class="col">
			<div class="card">
			  <div class="card-body">
					<span class="text-muted text-right"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD.MM.YYYY"}}</time></span>
			  </div>
			</div>
		</div>
	</div>

	{{!-- The posts content --}}
	<div class="row mb-3 p-1">
	  <div class="col">
			<div class="card">
			  <div class="card-body">
					<section>
						{{content}}
					</section>
			  </div>
			</div>
		</div>
	</div>
</article>

{{#author}}
<div class="row mb-3 p-1">
	<div class="col">
		{{> "author-card"}}
	</div>
</div>
{{/author}}

<div id="disqus_div" class="row mb-3 p-1">
	<div class="col">
		<div class="card">
			<div class="card-body">
				<div id="disqus_thread"></div>
				<script>
					if(window.DISQUS_SITE_ID) {
						var disqus_config = function () {
							this.page.url = '{{url absolute="true"}}';
							this.page.identifier = 'ghost-{{comment_id}}';
						};
						(function() {
							var d = document, s = d.createElement('script');
							s.src = 'https://' + window.DISQUS_SITE_ID + '.disqus.com/embed.js';
							s.setAttribute('data-timestamp', +new Date());
							(d.head || d.body).appendChild(s);
						})();
					}
					else {
						document.getElementById('disqus_div').setAttribute("style", "display:none");
					}
				</script>
			</div>
		</div>
	</div>
</div>

<hr/>

<div class="row mb-3 p-1">
	<div class="col">
		<div class="card-deck">
			{{#prev_post}}
				{{> "post-card"}}
			{{/prev_post}}

			{{#next_post}}
				{{> "post-card"}}
			{{/next_post}}
		</div>
	</div>
</div>

{{/post}}
