{{!< default}}

<article>
	{{!-- Title and blog image --}}
	<div class="row mb-3 p-1">
		<div class="col">
			<header>
				<h1 class="display-1 text-center">{{@blog.title}} abbonieren</h1>
				{{#if @blog.cover_image}}
				<figure class="figure">
					<img class="figure-img img-fluid rounded" src="{{@blog.cover_image}}" alt="{{@blog.title}}" />
				</figure>
				{{/if}}
			</header>
		</div>
	</div>

	{{!-- The page content --}}
	<div class="row mb-3 p-1">
	  <div class="col">
			<div class="card">
			  <div class="card-body">
					{{#if success}}
						<div class="alert alert-success" role="alert">
							Sie haben mit Ihrer E-Mail-Adresse <em>{{email}}</em> erfolgreich den
							<em>{{@blog.title}}</em> abboniert und erhalten nun alle neuen Beiträge
							per E-Mail.
						</div>
					{{else}}
						<div class="alert alert-warning" role="alert">
							Leider ist ein Fehler aufgetreten, bitte versuchen Sie es noch einmal.
						</div>
					{{/if}}
					<button class="btn btn-primary" onclick="history.back()">Zurück zum Blog</button>
			  </div>
			</div>
		</div>
	</div>

</article>
