{{!< default}}

{{#tag}}
<article>
  {{!-- Title and feature image --}}
  <div class="row p-1">
    <div class="col">
      <header>
        <h1 class="display-1 text-center">{{name}}</h1>
        {{#if feature_image}}
          <figure class="figure">
            <img class="figure-img img-fluid rounded" src="{{feature_image}}" alt="{{name}}" />
          </figure>
        {{/if}}
      </header>
    </div>
  </div>

  {{!-- Tag description --}}
	<div class="row mb-3 p-1">
	  <div class="col">
			<div class="card">
			  <div class="card-body">
					{{#if description}}
		          {{description}}
		      {{else}}
		          {{plural ../pagination.total empty='Keine Beiträge' singular='% Beitrag' plural='% Beiträge'}} in dieser Kategorie
		      {{/if}}
			  </div>
			</div>
		</div>
	</div>
</article>
{{/tag}}

<div class="row mb-3 p-1">
	<div class="col">
		<div class="card-columns">
      {{#foreach posts}}
          {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
          {{> "post-card"}}
      {{/foreach}}
		</div>
	</div>
</div>
