p > img {
  width: 100%;
}

/* This is neccessarry because images from Unsplash are 1080px by default */
.container {
  max-width: 1080px;
}

.card-columns {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

@media (min-width: 992px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
